<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"

          rel="stylesheet" media="screen"/>
    <script
            src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
    ></script>


</head>
<body>
    <!--/* thymesVar id="owner" type="guru.skorupa.sfgpetclinic.model.Owner"*/-->

    <h2 th:text="'List of owners'" >Owners List</h2>
    <table class="table table-striped">

    <thread>
                <tr>
                    <th style="width: 150px;">Id</th>
                    <th style="width: 150px;">firstName</th>
                    <th style="width: 150px;">lastName</th>
                </tr>
            </thread>
                        <tbody>
                                    <tr th:each="owner:${owners}">
                                        <td th:text="${owner?.id}">1</td>
                                        <td th:text="${owner?.firstName}">Joe</td>
                                        <td th:text="${owner?.lastName}">Buck</td>
                                    </tr>
                        </tbody>


        </table>
</body>
</html>